li {
    padding: 1rem 0.5rem;
    border-bottom: 2px solid white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    text-transform: uppercase;
}

.third {
    cursor: pointer;
}